<!--This launch file controls the plane to be level. -->
<launch>
 <arg name="mav_name"  default="MTD"/>
 <rosparam command="load" file="$(find rosplane)/param/MTD.yaml" ns="controller"/>
 <node name="naze"  pkg="rosflight"  type="rosflight_io" output="screen">
   <param name="port" value="/dev/naze"/>
 </node>
 <node name="uINS" pkg="inertial_sense" type="inertial_sense_node" output="screen">
  <param name="~port" value="/dev/uINS"/>
  <!-- WEBSTER FIELD -->
  <!--
   <param name="~lat_ref" value="38.144692"/>
   <param name="~lon_ref" value="-76.428007"/>
   <param name="~h_ref" value="0.0"/>
  -->

  <!-- ELBERTA, UT -->

   <param name="~lat_ref" value="39.969582"/>
   <param name="~lon_ref" value="-111.96711"/>
   <param name="~h_ref" value="1415.0"/>


  <!-- ROCK CANYON PARK -->
  <!--
   <param name="~lat_ref" value="40.2679779"/>
   <param name="~lon_ref" value="-111.6344569"/>
   <param name="~h_ref" value="1450.0"/>
  -->
 </node>

 <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen">
   <param name="~use_inertial_sense" type="bool" value="true"/>
 </node>

 <!--Path Manager-->
 <node name="path_manager" pkg="rosplane" type="rosplane_path_manager" output="screen">
  <param name="R_min" value="50.0"/>
  <param name="loiter_radius" value="75.0"/>
  <param name="groundD" value="0.0"/>
  <param name="home_north" value="-100.0"/>
  <param name="home_east" value="-100.0"/>
  <param name="loiter_down" value="-150.0"/>
 </node>

 <!--Path Follower-->
 <node name="path_follower" pkg="rosplane" type="rosplane_path_follower" output="screen"/>

 <node name="controller" pkg="rosplane" type="rosplane_controller" output="screen">
   <param name="PWM_RAD_E" value="2.8"/>
   <param name="PWM_RAD_A" value="-1.6"/>
   <param name="PWM_RAD_R" value="1.8"/>
   <param name="ALT_TOZ" value="20"/>
   <param name="ALT_HZ" value="10"/>
   <param name="MAX_T" value="0.70"/>
   <param name="groundD" value="0.0"/>
 </node>
 <node name="bomber" pkg="rosplane" type="bomb_dropper" output="screen"/>

 <node pkg="rosservice" type="rosservice" name="calibration_of_imu" args="call --wait /calibrate_imu"/>
 <node pkg="rosservice" type="rosservice" name="calibration_of_baro" args="call --wait /calibrate_baro"/>
 <node pkg="rosservice" type="rosservice" name="calibration_of_airspeed" args="call --wait /calibrate_airspeed"/>
</launch>
