<!-- This is a launch file that runs the bare minimum requirements to get -->
<!-- gazebo running.  It requires a relative_nav::Command on /command -->
<!-- to move the hex, and outputs imu, altimeter, laserscan and RGBD images -->
<!-- as well as a relative_nav::FilterState message on /global_state  -->
<!-- a geometry_msgs::StampedTransform on /mocap to imitate motion capture -->

<launch>
  <arg name="mav_name"            default="myTwinDream"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rosplane_sim)/worlds/fixed_wing.world"/> <!-- auvsi.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="verbose" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn MAV -->
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/agents/$(arg mav_name)/$(arg mav_name).xacro" />
  </include>
<!--
  <node name="joy" pkg="fcu_common" type="fcu_common_joy">
    <param name="x_axis" value="0"/>
    <param name="y_axis" value="1"/>
    <param name="yaw_axis" value="4"/>
    <param name="axis_thrust_" value="2"/>
    <param name="y_sign" value="-1"/>
    <param name="x_sign" value="1"/>
  </node>

  <node name="xbox" pkg="joy" type="joy_node">
    <param name="dev" value="/dev/input/js0"/>
  </node>
  -->
  <group ns="$(arg mav_name)">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/agents/$(arg mav_name)/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>

    <node name="pathfollower" pkg="rosplane" type="rosplane_path_follower">
       <remap from="state" to="truth"/>
    </node>

    <node name="chase" pkg="image_view" type="image_view">
      <remap from="image" to="chase/camera/rgb"/>
    </node>

    <!--<node name="reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure"/> -->

    <node name="current_path_publisher" pkg="rostopic" type="rostopic"
      args="pub current_path rosplane_msgs/Current_Path 'false' '30.0'  '[0.0, 0.0, -100.0]'  '[1.0, 0.0, 0.0]'  '[0.0, 0.0, -100.0]'  '100.0' '1'"/>

  </group>
</launch>
