<?xml version="1.0"?>

<launch>
  <arg name="mav_name" default="default_fixedwing"/>
  <arg name="model" default="$(find rosplane_sim)/urdf/$(arg mav_name)/$(arg mav_name)_base.xacro"/>
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="z" default="0.5"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg mav_name)"/>
  <arg name="enable_wind" default="true"/>
  <arg name="robot_namespace" default="/"/>
  <arg name="gazebo_namespace" default=""/>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro.py '$(arg model)'
    mav_name:=$(arg mav_name)
    gazebo_namespace:=$(arg gazebo_namespace)/gazebo
    robot_namespace:=$(arg robot_namespace)"
  />
  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_$(arg mav_name)" pkg="gazebo_ros" type="spawn_model"
   args="-param robot_description
         -urdf
         -x $(arg x)
         -y $(arg y)
         -z $(arg z)
         -Y $(arg yaw)
         -gazebo_namespace $(arg gazebo_namespace)/gazebo
         -robot_namespace $(arg robot_namespace)
         -model $(arg mav_name)"
   respawn="false" output="screen">
  </node>
</launch>
