<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Forces And Moments Plugin -->
    <xacro:macro
      name="aircraft_dynamics"
      params="namespace parent_link">
      <xacro:aircraft_forces_and_moments_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link">
      </xacro:aircraft_forces_and_moments_macro>
    </xacro:macro>


  <!-- Macro to add a generic odometry sensor. -->
  <xacro:macro name="aircraft_forces_and_moments_macro"
    params="namespace parent_link">
    <gazebo>
      <plugin
        filename="libaircraft_forces_and_moments_plugin.so"
        name="${namespace}_aircraft_forces_and_moments">
        <linkName>${parent_link}</linkName>
        <namespace>${namespace}</namespace>
      </plugin>
    </gazebo>
  </xacro:macro>


</robot>
