<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Design Model Plugin -->
    <xacro:macro
      name="Design_Model"
      params="namespace parent_link command_topic">
      <xacro:design_model_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        wind_speed_topic="gazebo/wind_speed"
        command_topic="${command_topic}"
        parent_frame_id="${namespace}/base_link">
      </xacro:design_model_macro>
    </xacro:macro>


  <!-- Macro to add the simplified dynamics from the design model. -->
  <xacro:macro name="design_model_macro"
    params="namespace  parent_link wind_speed_topic command_topic parent_frame_id">
    <gazebo>
      <plugin
        filename="libdesign_model_plugin.so"
        name="${namespace}_design_model">
        <linkName>${parent_link}</linkName>
        <namespace>${namespace}</namespace>
        <windSpeedTopic>${wind_speed_topic}</windSpeedTopic>
        <commandTopic>${command_topic}</commandTopic>
        <parentFrameId>${parent_frame_id}</parentFrameId>
      </plugin>
    </gazebo>
  </xacro:macro>


</robot>
