<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="caster" params="radius *origin">
		<collision name="caster_collision">
			<xacro:insert_block name="origin"/>
			<geometry>
				<sphere radius="${radius}"/>
			</geometry>

			<surface>
				<friction>
					<ode>
						<mu>0</mu>
						<mu2>0</mu2>
						<slip1>1.0</slip1>
						<slip2>1.0</slip2>
					</ode>
				</friction>
			</surface>
		</collision>

		<visual name="caster_visual">
			<xacro:insert_block name="origin"/>
			<geometry>
				<sphere radius="${radius}"/>
			</geometry>
		</visual>

	</xacro:macro>
</robot>
